/x64/
/.vs/
/Debug/
/Release/

/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user
/*.sln
/*.suo
/*.user

/build/
/out/
/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json
